{% extends "base.html" %}
{% from "_nav.html" import render_nav with context %}

{% block title %}{{ t('game_review.title') }} - Blunder Tutor{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/vendor/chessground-10.0.2.base.css">
<link rel="stylesheet" href="/static/css/chessground-theme.css">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/board-layout.css">
<link rel="stylesheet" href="/static/css/game-review.css">
{% endblock %}

{% block body %}
{% include '_demo_banner.html' %}
<div class="trainer-page">
<header class="trainer-header">
  <div class="trainer-header-left">
    <h1 class="trainer-logo">
      <span class="trainer-logo-icon"></span>
      Blunder Tutor
    </h1>
  </div>
  <div id="profile-header-root"></div>
  {{ render_nav() }}
</header>

<div id="game-review-root"></div>
</div>
{% endblock %}

{% block base_scripts %}
<script src="/static/vendor/chess-0.10.3.min.js"></script>
{% endblock %}

{% block extra_scripts %}
{{ vite_asset('game-review') }}
{% endblock %}
