{% extends "base.html" %}
{% from "_nav.html" import render_nav with context %}

{% block title %}{{ title }} - Blunder Tutor{% endblock %}

{% block extra_head %}
<!-- Chessground CSS -->
<link rel="stylesheet" href="/static/vendor/chessground-10.0.2.base.css">
<link rel="stylesheet" href="/static/css/chessground-theme.css">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/board-layout.css">
<link rel="stylesheet" href="/static/css/trainer.css">
<link rel="stylesheet" href="/static/css/vim-input.css">
{% endblock %}

{% block body %}
{% include '_demo_banner.html' %}
<header class="trainer-header">
  <div class="trainer-header-left">
    <h1 class="trainer-logo">
      <span class="trainer-logo-icon"></span>
      Blunder Tutor
    </h1>
  </div>
  <div id="profile-header-root"></div>
  {{ render_nav('trainer') }}
</header>
<div id="trainer-root"></div>
{% endblock %}

{% block base_scripts %}
<!-- Chess.js for move validation -->
<script src="/static/vendor/chess-0.10.3.min.js"></script>
{% endblock %}

{% block extra_scripts %}
{{ vite_asset('trainer') }}
{% endblock %}
